<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Option management</title>
</head>
<body>
    <p> <a href="/auth/employee">Main menu</a></p>
    <p> <a href="/management/tariffs">Tariffs page</a></p>
    <h4>Set up the option</h4>

    <form th:method="POST" th:action="@{/management/options}" th:object="${option}">

        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name">

        <label for="price">Price: </label>
        <input name="price" type="number"  id="price"/>

        <label for="conectionCost">Connection cost: </label>
        <input name="conectionCost" type="number"  id="conectionCost"/>
        <br/>

        <input type="submit" value="Create"/>
    </form>
    <hr>

    <table border="1">
        <caption>Customers</caption>
        <tr>
            <th>ID</th>
            <th >Name</th>
            <th >Price</th>
            <th>Connection cost</th>
        </tr>
        <tr th:each="option: ${listOptions}">
            <td th:text="${option.id}"></td>
            <td th:text="${option.name}"></td>
            <td th:text="${option.price}"></td>
            <td th:text="${option.connectionCost}"></td>
        </tr>
    </table>


</body>
</html>